.markdown code {
  color: #00205ade;
  background-color: #dfe3ea;
  font-size: 85%;
  border-radius: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
.markdown pre code {
  padding: 0;
}
.markdown pre {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 0.3em;
  overflow: auto;
  line-height: 1.45;
  color: #00205ade;
  background-color: #dfe3ea;
  border-radius: 0.3em;
}

.markdown h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

.markdown h2 {
  font-size: 1.5em;
}

.markdown p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
